{{#define id="_user"}}
  {{param name="=_params.service==='tesoreria'?'Cajero':'Usuario'"}}
  {{action id="eliminar" hide="true"}}

  {{action
    id="afectar"
    error="=fn('validarCedulaDuplicada', prestadorServicios.datosEspecialidad)"
    confirm="=calc.contieneMalaPalabra(prestadorServicios.clave)"
    confirmWidth="500"
    confirmHeight="290"
    confirmMessage="='CURP contiene palabra altisonante (' + prestadorServicios.clave.substr(0,4) + ')<br><br>Si desea continuar presione Si.<br>De lo contrario presione No y modifique el dato colocando una X en el segundo caracter.'"
  }}

  {{!-- {{action id="afectarTodo" condition="=true" type="affect-all" label="Procesar Todo..." color="red" btnSolid="true" visibleMode="close" confirm="true" confirmMessage="¿Desea Procesar en Lote?" superUser="true"}} --}}

  {{#action id="tool" condition="=true" label="Bandeja Entrada" type="sub-link" btnSolid="false" color="grey" visibleMode="close"}}
    {{#link href="'/_inbox/in'" title="=calc.concat('Bandeja Entrada', _name)" name="=calc.concat('Bandeja Entrada', _name)"}}
      {{param id="=_id"}}
    {{/link}}
  {{/action}}
  {{#action id="tool2" condition="=true" label="Bandeja Salida" type="sub-link" btnSolid="false" color="grey" visibleMode="close"}}
    {{#link href="'/_inbox/out'" title="=calc.concat('Bandeja Salida', _name)" name="=calc.concat('Bandeja Salida', _name)"}}
      {{param id="=_id"}}
    {{/link}}
  {{/action}}
  {{#action id="tool3" condition="=true" type="photo" label="Tomar Foto" color="grey" as="foto" icon="camera"}}
    {{#update section="prestadorServicios"}}
      {{setRef ref="foto.base.nombre" value="='Fotografía'"}}
      {{setRef ref="foto.base.url" value="=foto.url"}}
    {{/update}}
  {{/action}}  

  {{#action id="ver" condition="=true" label="Ver Planeación" type="view-scheduler" color="cyan"}}
    {{scheduler type="plan" startDayHour="=prestadorServicios.horaInicioDia" endDayHour="=prestadorServicios.horaFinDia" cellDuration="30" resourceSource="planAgenda" resourceView="agendasActivas" resourceField="schedule" views="month,week,day" currentView="day"}}
  {{/action}}
[.#if esHRAEI.]  
  {{#action id="ver2" condition="=true" label="Ver Agenda" type="view-scheduler" btnSolid="false" color="green"}}
    {{scheduler type="busy" startDayHour="=prestadorServicios.horaInicioDia" endDayHour="=prestadorServicios.horaFinDia" cellDuration="30" resourceSource="planAgenda" resourceView="agendasActivas" resourceField="schedule" views="month,week,day" currentView="day"}}
  {{/action}}
[./if.]      

  {{action id="menuReportes" hide="true" type="menu" menu="menuReportes" label="Reportes" color="grey" isBrowserAction="true"}}
  {{#menu id="menuReportes" color="grey"}}
    {{item action="reporteListaUsuarios" text="Lista Usuarios"}}
  {{/menu}}  

  {{action id="reporteListaUsuarios" hide="true" type="quickReport" source="_user" view="listaUsuarios"}}
  
  {{!-- Modificar Bloque - Tarea 5604 --}}
  {{#action id="sugerirCurp" hide="true" type="update" error="=_updated.date?'No se puede modificar CURP':fn('validaSugerirCurp',base.nombres,prestadorServicios.fechaNacimiento,prestadorServicios.generoCurp,prestadorServicios.entidadNacimiento)"}}
    {{#update section="prestadorServicios"}}
      {{set condition="=prestadorServicios.paisNacimiento=='MX'" clave="=calc.curp(base.nombres, base.apellidoPaterno, base.apellidoMaterno, prestadorServicios.generoCurp, prestadorServicios.entidadNacimiento=='NA'?'NE':prestadorServicios.entidadNacimiento, moment(prestadorServicios.fechaNacimiento).format('YYYY-MM-DD'), 16, true)"}}
      {{set condition="=prestadorServicios.paisNacimiento=='MX'" claveCompleta="=calc.curp(base.nombres, base.apellidoPaterno, base.apellidoMaterno, prestadorServicios.generoCurp, prestadorServicios.entidadNacimiento=='NA'?'NE':prestadorServicios.entidadNacimiento, moment(prestadorServicios.fechaNacimiento).format('YYYY-MM-DD'), 18, true)" claveCompleta2="=calc.curp(base.nombres, base.apellidoPaterno, base.apellidoMaterno, prestadorServicios.generoCurp, prestadorServicios.entidadNacimiento=='NA'?'NE':prestadorServicios.entidadNacimiento, moment(prestadorServicios.fechaNacimiento).format('YYYY-MM-DD'), 18, false)"}}
      {{set condition="=prestadorServicios.paisNacimiento!='MX'" clave="=fn('CURP_GENERICO')"}}
      {{set condition="=prestadorServicios.paisNacimiento!='MX'" claveCompleta="=calc.curp(base.nombres, base.apellidoPaterno, base.apellidoMaterno, prestadorServicios.generoCurp, 'NE', moment(prestadorServicios.fechaNacimiento).format('YYYY-MM-DD'), 18, true)" claveCompleta2="=calc.curp(base.nombres, base.apellidoPaterno, base.apellidoMaterno, prestadorServicios.generoCurp, 'NE', moment(prestadorServicios.fechaNacimiento).format('YYYY-MM-DD'), 18, false)"}}
    {{/update}}
  {{/action}}
  {{!-- Tarea 5604 --}}

  {{browser id="lista" showActions="menuReportes,tool,tool2,tool3,preliminar,ver,ver2,cancelar,adjuntar,abrir,afectar,afectarTodo"}}

  {{#view id="listaUsuarios"}}
    {{#find limit="-1"}}
      {{include field="base"}}
      {{include field="_created"}}
      {{sort field="_name" direction="asc"}}
    {{/find}}
  {{/view}}

  {{#view id="lista"}}
    {{#find}}
      {{include field="_name"}}
      {{include field="base.clave"}}
      {{include field="base.estatus"}}
      {{include field="base.area"}}
      {{include field="base.correo"}}
      {{include field="base.especialidad"}}
      {{include field="_created.folio"}}
      {{sort field="_name" direction="asc"}}
      {{search field="_name"}}
      {{search field="base._especialidad"}}
      {{search field="base._datosEspecialidad"}}
      {{search field="_created.folio" type="number"}}
      {{search field="prestadorServicios.clave" directSearchIfLength="9,10,11,12,13,14,15,16,17,18"}}
      {{filter condition="=servicio" field="base.servicio" in="=servicio"}}
      {{filter condition="=area" field="base.area" in="=area"}}
      {{filter condition="=citasExtraordinarias" field="prestadorServicios.citasExtraordinarias" eq="=citasExtraordinarias"}}
      {{filter condition="=especialidad" field="prestadorServicios.especialidad" in="=especialidad"}}
    {{/find}}
  {{/view}}
  {{#view id="notify"}}
    {{#find}}
      {{include field="_name"}}
      {{sort field="_name" direction="asc"}}
      {{filter field="_access.level" neq="externo"}}
      {{search field="_name"}}
      {{search field="prestadorServicios.clave" directSearchIfLength="9,10,11,12,13,14,15,16,17,18"}}
    {{/find}}
  {{/view}}
  {{#view id="enfermeras"}}
    {{#find}}
      {{include field="_name"}}
      {{include field="base.clave"}}
      {{include field="base.estatus"}}
      {{include field="base.area"}}
      {{include field="base.correo"}}
      {{include field="base.especialidad"}}    
      {{sort field="_name" direction="asc"}}
      {{filter field="base.rolesAcceso" in="enfermera"}}
      {{search field="_name"}}
      {{search field="base._especialidad"}}
      {{search field="base._datosEspecialidad"}}
      {{search field="prestadorServicios.clave" directSearchIfLength="9,10,11,12,13,14,15,16,17,18"}}
    {{/find}}
  {{/view}}
  {{#view id="elaboracionMezclas"}}
    {{#find}}
      {{include field="_name"}}
      {{include field="base.clave"}}
      {{include field="base.estatus"}}
      {{include field="base.area"}}
      {{include field="base.correo"}}
      {{include field="base.especialidad"}}    
      {{sort field="_name" direction="asc"}}
      {{filter field="base.rolesAcceso" in="elaboracionMezclas"}}
      {{search field="_name"}}
      {{search field="base._especialidad"}}
      {{search field="base._datosEspecialidad"}}
      {{search field="prestadorServicios.clave" directSearchIfLength="9,10,11,12,13,14,15,16,17,18"}}
    {{/find}}
  {{/view}}
  {{#view id="cirujanos"}}
    {{#find}}
      {{include field="_name"}}
      {{include field="base.clave"}}
      {{include field="base.estatus"}}
      {{include field="base.area"}}
      {{include field="base.correo"}}
      {{include field="base.especialidad"}}    
      {{sort field="_name" direction="asc"}}
      {{filter field="base.rolesAcceso" in="medicoCirujano"}}
      {{search field="_name"}}
      {{search field="base._especialidad"}}
      {{search field="base._datosEspecialidad"}}
      {{search field="prestadorServicios.clave" directSearchIfLength="9,10,11,12,13,14,15,16,17,18"}}
    {{/find}}
  {{/view}}

  {{section id="_temp" temp="true"}}

  {{#section id="base"}}
    {{!-- {{field id="cluesTieneSsa" type="expr" value="=@cluesInstitucion.search('SSA')>0||@cluesInstitucion.search('IMB')>0"}} --}}
    {{field id="cluesTieneSsa" type="expr" value="=@cluesInstitucion=='SSA'||@cluesInstitucion=='IMB'"}}
    {{#field id="establecimiento"}}
      {{#onChange clearFields="cluesInstitucion,programaSMyMG"}}
        {{set cluesInstitucion="=base.cluesInstitucion"}}
      {{/onChange}}
    {{/field}}
    {{#field id="nombres"}}
      {{#onChange}}
        {{set nombre="=calc.concat(@nombres, @apellidoPaterno, @apellidoMaterno)"}}
      {{/onChange}}
    {{/field}}
    {{#field id="apellidoPaterno"}}
      {{#onChange}}
        {{set nombre="=calc.concat(@nombres, @apellidoPaterno, @apellidoMaterno)"}}
      {{/onChange}}
    {{/field}}
    {{#field id="apellidoMaterno"}}
      {{#onChange}}
        {{set nombre="=calc.concat(@nombres, @apellidoPaterno, @apellidoMaterno)"}}
      {{/onChange}}
    {{/field}}
    {{field id="esLocal" type="expr" value="=@metodoAcceso==='local'"}}
    {{#field id="contrasena"}}
      {{#onChange}}
        {{#update section="_temp"}}
          {{set validarContrasena="=contrasena"}}
        {{/update}}        
        {{set hash="=calc.sha1(calc.text(contrasena))"}}
        {{set contrasena="=calc.mask(contrasena)"}}
        {{#update section="_access"}}
          {{set changePassword="=true"}}
        {{/update}}
      {{/onChange}}
    {{/field}}
    {{#field id="perfilAcceso"}}
      {{#onChange clearFields="rolAcceso"}}
        {{set nivelAcceso="=base.nivelAcceso"}}
      {{/onChange}}
    {{/field}}
    {{#field id="horaInicioDia"}}
      {{editor interval="60"}}
    {{/field}}
    {{#field id="horaFinDia"}}
      {{editor interval="60"}}
    {{/field}}
    {{#field id="tipoPersonalNom"}}
      {{#onChange clearFields="tipoPersonalCE"}}
        {{set tipoPersonalCE="=fn('sugerirTipoPersonal',tipoPersonalNom)"}}
      {{/onChange}}
    {{/field}}
{{!--     {{#field id="establecimiento"}}
      {{onChange clearFields="almacenGeneral,almacenFarmacia,almacenFarmaciaGratuita,almacenMateriales,almacenCeyeEsterilizado,almacenCeyeSucio"}}
    {{/field}}
    {{#field id="almacenGeneral"}}
      {{#editor}}
        {{param establecimiento="=establecimiento"}}
      {{/editor}}
    {{/field}}
    {{#field id="almacenFarmacia"}}
      {{#editor}}
        {{param establecimiento="=establecimiento"}}
      {{/editor}}
    {{/field}}
    {{#field id="almacenFarmaciaGratuita"}}
      {{#editor}}
        {{param establecimiento="=establecimiento"}}
      {{/editor}}
    {{/field}}
    {{#field id="almacenMateriales"}}
      {{#editor}}
        {{param establecimiento="=establecimiento"}}
      {{/editor}}
    {{/field}}
    {{#field id="almacenCeyeEsterilizado"}}
      {{#editor}}
        {{param establecimiento="=establecimiento"}}
      {{/editor}}
    {{/field}}
    {{#field id="almacenCeyeSucio"}}
      {{#editor}}
        {{param establecimiento="=establecimiento"}}
      {{/editor}}
    {{/field}} --}}
    {{validator type="expr" notValidIf="=_temp.validarContrasena&&!calc.passwordOk(_temp.validarContrasena)" message="La Contraseña No Cumple con los Requerimientos de Seguridad"}}
  {{/section}}
  
  {{!-- RACC Tarea #3580  --}}
  {{#section id="puesto"}}  
    {{field id="cluesTieneSsa" type="expr" value="=@cluesAdscripcionNomina.search('SSA')>0||@cluesAdscripcionNomina.search('IMB')>0"}}
    {{#field id="cluesAdscripcionNomina"}}
      {{#onChange clearFields="programaSMyMG,cluesSubAbreviacion,cluesTipoAbreviacion,cluesServicioAmigable,cluesTieneEspirometro,cluesTipoUnidad,cluesIdEntidad"}}
        {{set cluesTieneSsa="=@cluesAdscripcionNomina.search('SSA')>0||@cluesAdscripcionNomina.search('IMB')>0"}}
        {{set cluesSubAbreviacion="=@sub_abreviacion"}}
        {{set cluesTipoAbreviacion="=@tip_abreviacion"}}
        {{set cluesServicioAmigable="=@amigable"}}
        {{set cluesTieneEspirometro="=@espirometro"}}
        {{set cluesTipoUnidad="@tipo_unidad"}}
        {{set cluesIdEntidad="@id_entidad_federativa"}}
      {{/onChange}}
    {{/field}}
  {{/section}}
  {{!-- RACC Tarea #3580  --}}  

  {{!-- Tarea #3976 RACC --}}
  {{#section id="prestadorServicios"}}
    {{field id="esMexicano" type="expr" value="=paisNacimiento=='MX'"}}
    {{#field id="paisNacimiento"}}
      {{#onChange clearFields="entidadNacimiento"}}
        {{set entidadNacimiento="=esMexicano?null:'NA'"}}
      {{/onChange}}
    {{/field}}
    {{validator type="expr" notValidIf="=calc.in(@entidadNacimiento,['99','00'])" message="Entidad Nacimiento Inválida"}}
    {{validator type="expr" notValidIf="=paisNacimiento=='MX'&&entidadNacimiento=='NA'" message="Entidad Nacimiento Inválida (Nacido en México)"}}
    {{validator type="expr" notValidIf="=paisNacimiento!='MX'&&entidadNacimiento!='NA'" message="Entidad Nacimiento Inválida (Nacido en el Extranjero)"}}
    {{validator type="expr" validIf="=calc.fromNowYears(@fechaNacimiento)>=18" message="Error, Menor a 18 Años"}}
    {{validator type="expr" validIf="=calc.fromNowYears(@fechaNacimiento)<=90" message="Error, Mayor a 90 Años"}}{{!-- cambios 2024-05-29 --}}
    {{validator type="expr" condition="=fn('cedulaObligatoria',base.tipoPersonalNom??'')" notValidIf="=fn('faltaCedulaEspecialidad',@datosEspecialidad)" message="Falta Cédula Especialidad"}}
    {{validator type="expr" notValidIf="=paisNacimiento==='MX'&&clave===fn('CURP_GENERICO')" message="CURP Inválido para nacido en México"}}
    {{validator type="expr" validIf="=fn('validaCaracter17Curp',clave,fechaNacimiento)||clave===fn('CURP_GENERICO')" message="CURP Inválido (Caracter 17)"}}
    {{validator type="expr" validIf="=fn('validaCaracter18Curp',clave)||clave===fn('CURP_GENERICO')" message="CURP Inválido (Caracter 18)"}}
    {{validator type="expr" condition="=paisNacimiento=='MX'" validIf="=clave.length==18&&(clave==fn('CURP_GENERICO')||((clave.substr(0,16)!=fn('CURP_GENERICO').substr(0,16))&&(calc.curp(base.nombres,base.apellidoPaterno,base.apellidoMaterno,generoCurp,(entidadNacimiento=='NA'?'NE':entidadNacimiento),moment(fechaNacimiento).format('YYYY-MM-DD'),16,false)==clave.substr(0,16)||calc.curp(base.nombres,base.apellidoPaterno,base.apellidoMaterno,generoCurp,(entidadNacimiento=='NA'?'NE':entidadNacimiento),moment(fechaNacimiento).format('YYYY-MM-DD'),16,true)==clave.substr(0,16))))" message="CURP Incorrecto"}}
    {{validator type="expr" condition="=paisNacimiento!='MX'" validIf="=clave.length==18&&(clave==fn('CURP_GENERICO')||((clave.substr(0,16)!=fn('CURP_GENERICO').substr(0,16))&&(calc.curp(base.nombres,base.apellidoPaterno,base.apellidoMaterno,generoCurp,'NE',moment(fechaNacimiento).format('YYYY-MM-DD'),16,false)==clave.substr(0,16)||calc.curp(base.nombres,base.apellidoPaterno,base.apellidoMaterno,generoCurp,'NE',moment(fechaNacimiento).format('YYYY-MM-DD'),16,true)==clave.substr(0,16))))" message="CURP Incorrecto"}}
    {{#onChange}}
      {{#update}}
        {{set tieneCurp="=clave?true:false"}}
      {{/update}}
    {{/onChange}}
  {{/section}}
  {{!-- Tarea #3976 RACC --}}

  {{#section id="adjuntos"}}
    {{#onChange}}
      {{#update section="prestadorServicios"}}
        {{setRef condition="=calc.findWhere(adjuntos, {tipo:'foto'}).url" ref="foto.base.url" value="=calc.findWhere(adjuntos, {tipo:'foto'}).url"}}
        {{setRef condition="=calc.findWhere(adjuntos, {tipo:'foto'}).url" ref="foto.base.nombre" value="=calc.findWhere(adjuntos, {tipo:'foto'}).nombre||'Foto'"}}
      {{/update}}
    {{/onChange}}
  {{/section}}
  {{#section id="_access"}}
    {{field id="method" type="expr" value="=base.metodoAcceso"}}
    {{field id="userId" type="expr" value="=base.correo"}}
    {{field id="hash" type="expr" value="=base.hash"}}
    {{field id="isActive" type="expr" value="=calc.in(base.estatus, ['activo','afectado'])&&!base.sinAcceso"}}
    {{field id="isExternalUser"type="expr" value="=level=='externo'"}}
    {{field id="name" type="expr" value="=base.nombre"}}
    {{field id="profile" type="expr" value="=base.perfilAcceso"}}
    {{field id="level" type="expr" value="=base.nivelAcceso"}}
    {{field id="roles" type="expr" value="=base.rolesAcceso"}}
    {{field id="branch" type="expr" value="=base.sucursal"}}
    {{field id="_branch" type="expr" value="=base._sucursal"}}
    {{field id="area" type="expr" value="=base.area"}}
    {{field id="_area" type="expr" value="=base._area"}}
    {{field id="turn" type="expr" value="=base.turno"}}
    {{field id="_turn" type="expr" value="=base._turno"}}
    {{field id="allowChangeEstablishment" type="expr" value="=calc.isTrue(base.cambiarEstablecimiento)"}}
    {{field id="establishment" type="expr" value="=base.establecimiento"}}
    {{field id="_establishment" type="expr" value="=base._establecimiento"}}
    {{field id="subArea" type="expr" value="=base.subArea"}}
    {{field id="subordinates" type="expr" value="=base.subordinados"}}
    {{field id="identification" type="expr" value="=prestadorServicios.datosEspecialidad"}}
    {{field id="_identification" type="expr" value="=prestadorServicios._datosEspecialidad"}}
    {{field id="responsable" type="expr" value="=prestadorServicios.responsable"}}
    {{field id="_responsable" type="expr" value="=prestadorServicios._responsable"}}
    {{field id="academicRole" type="expr" value="=base.rolAcademico"}}
    {{field id="_academicRole" type="expr" value="=base._rolAcademico"}}
    {{field id="isStudent" type="expr" value="=base.rolAcademico=='estudiante'"}}
    {{field id="autoPrint" type="expr" value="=calc.isTrue(prestadorServicios.permisos.base.autoImpresion)"}}
    {{field id="onlyAssignedRequests" type="expr" value="=calc.getRef(prestadorServicios, 'permisos.base.verSolicitudes')=='asignadas'"}}
    {{field id="alertLevelVidal" type="expr" value="=prestadorServicios.permisos.base.nivelAlertaVidal"}}
    {{field id="readOnly" type="expr" value="=base.nivelAcceso=='consulta'"}}
  {{/section}}   

  {{#grid id="adjuntos" section="adjuntos" allowRemove="true" allowSort="true" sortBy="orden, fecha"}}
    {{column field="nombre" width="400"}}
    {{column field="tipo" width="200"}}
    {{column field="fecha" width="100" readOnly="true"}}
    {{column field="ext" width="100" readOnly="true"}}
    {{column field="tamano" width="100" readOnly="true"}}
    {{column field="orden" width="60"}}
  {{/grid}}
{{/define}}  

{{#markup}}
  {{#template id="lista"}}
    <div>
      {{_name}}
      {{#if _created.folio}}
        </br><span style="font-size:12px;">Folio: {{_created.folio}}</span>
      {{/if}}
      </br><span style="font-size:12px;">{{base.correo}}</span>
      </br><span style="font-size:12px;white-space:pre-wrap;">{{base._area}}</span>
    </div>    
  {{/template}}
  {{#template id="reset-password"}}
  <!DOCTYPE html>
  <html>
    <div>
      </br>
      Estimado(a): <strong>{{base.nombres}},</strong>
      </br>
      </br>
      Contraseña Temporal <strong>{{base.contrasena}}</strong>
    </div>
  </html>
  {{/template}}
{{/markup}}