{{#define id="paciente"}}
  {{param name="=_params.name||'Paciente'"}}
  {{action id="eliminar" hide="true"}}

  {{action
    id="afectar"
    confirm="=fn('validarAltaPaciente', base)"
    confirmMessage="=fn('mensajeAltaPaciente', base)"
    confirmTitle="Confirmación"
    confirmWidth="400"
    confirmHeight="500"
  }}

  {{#action id="tool" condition="true" type="photo" label="Tomar Foto" color="grey" as="foto" icon="camera"}}
    {{#update section="base"}}
      {{setRef ref="foto.base.nombre" value="='Fotografía'"}}
      {{setRef ref="foto.base.url" value="=foto.url"}}
    {{/update}}
  {{/action}}  

  {{#action id="sugerirCurp" hide="true" type="update" error="=fn('validaSugerirCurp',base.nombres,base.fechaNacimiento,base.generoCurp,base.entidadNacimiento)"}}
    {{#update section="base"}}
      {{set condition="=calc.isEmpty(base.apellidoPaterno)" apellidoPaterno="='XX'"}}
      {{set condition="=calc.isEmpty(base.apellidoMaterno)" apellidoMaterno="='XX'"}}
      {{!-- {{set condition="=calc.isEmpty(base.generoSocial)" generoSocial="='noEspecificado'"}} --}}
      {{set clave="=base.desconoceFechaNacimiento=='no'&&!calc.in(base.entidadNacimiento,['00','99'])?calc.curp(base.nombres, base.apellidoPaterno, base.apellidoMaterno, base.generoCurp, base.entidadNacimiento=='NA'?'NE':base.entidadNacimiento, moment(base.fechaNacimiento).format('YYYY-MM-DD'),16,true):'XXXX999999XXXXXX99'"}}
      {{set claveCompleta="=base.desconoceFechaNacimiento=='no'&&!calc.in(base.entidadNacimiento,['00','99'])?calc.curp(base.nombres, base.apellidoPaterno, base.apellidoMaterno, base.generoCurp, base.entidadNacimiento=='NA'?'NE':base.entidadNacimiento, moment(base.fechaNacimiento).format('YYYY-MM-DD'),18,true):'XXXX999999XXXXXX99'"}}
      {{set claveCompleta2="=base.desconoceFechaNacimiento=='no'&&!calc.in(base.entidadNacimiento,['00','99'])?calc.curp(base.nombres, base.apellidoPaterno, base.apellidoMaterno, base.generoCurp, base.entidadNacimiento=='NA'?'NE':base.entidadNacimiento, moment(base.fechaNacimiento).format('YYYY-MM-DD'),18,false):'XXXX999999XXXXXX99'"}}
    {{/update}}
  {{/action}}

  {{#action id="sugerirDatos" hide="true" type="update" error="=!base.clave&&'Falta Indicar CURP'"}}
    {{#update section="base"}}
      {{set fechaNacimiento="=fn('sugerirDesdeCurp',base.clave,'fecha')"}}
      {{set generoCurp="=fn('sugerirDesdeCurp',base.clave,'genero')"}}
      {{set entidadNacimiento="=fn('sugerirDesdeCurp',base.clave,'entidad')"}}
    {{/update}}
  {{/action}}

  {{#grid id="agregarLote" section="base" disableEnter="true" allowRemove="true"}}
    {{column field="clave" width="150"}}
    {{column field="pasaporte" width="150"}}
    {{column field="descripcion" width="200"}}
    {{column field="track" width="100" required="true"}}
    {{column field="nombres" width="200" required="true"}}
    {{column field="apellidoPaterno" width="200"}}
    {{column field="apellidoMaterno" width="200"}}
  {{/grid}}
  {{#grid id="adjuntos" section="adjuntos" allowRemove="true" allowSort="true" sortBy="orden, fecha"}}
    {{column field="nombre" width="350"}}
    {{column field="tipo" width="200"}}
    {{column field="fecha" width="100" readOnly="true"}}
    {{column field="ext" width="100" readOnly="true"}}
    {{column field="tamano" width="100" readOnly="true"}}
    {{column field="orden" width="60"}}
  {{/grid}}

  {{#view id="lista"}}
    {{#find}}
      {{include field="base.nombreCompleto"}}
      {{include field="base.clave"}}    
      {{include field="base.genero"}}
      {{include field="base.tipoSanguineo"}}
      {{include field="base.fechaNacimiento"}}
      {{include field="_readOnly"}}
      {{sort field="base.nombreCompleto" direction="asc"}}
      {{search field="base.nombreCompleto"}}
      {{search field="base.clave" directSearchIfLength="9,12,13,14,15,16,17,18"}}
      {{search field="base.fechaNacimiento"}}
      {{filter condition="=excluirPaciente" field="_id" neq="=excluirPaciente" isObjectId="true"}}
    {{/find}}
  {{/view}}

  {{#section 
    id="base"
    confirm="=fn('validarAltaPaciente', base)"
    confirmMessage="=fn('mensajeAltaPaciente', base)"
    confirmTitle="Confirmación"
    confirmWidth="400"
    confirmHeight="500"
  }}
    {{field id="nombreCompleto" type="expr" label="Nombre" value="=calc.concat(@nombres, @apellidoPaterno, @apellidoMaterno)"}}
    {{field id="esMujer" type="expr" value="=base.genero==='mujer'"}}    
    {{field id="esMenor3Meses" type="expr" value="=moment().diff(moment(fechaNacimiento), 'months')<=3"}}
    {{field id="esMenor3Dias" type="expr" value="=moment().diff(moment(fechaNacimiento), 'days')<=3"}} 
    {{field id="esMenor3Anos" type="expr" value="=calc.fromNowYears(fechaNacimiento)<3"}}
    {{field id="esMenor5Anos" type="expr" value="=calc.fromNowYears(fechaNacimiento)<5"}}
    {{field id="esMenor10Anos" type="expr" value="=calc.fromNowYears(fechaNacimiento)<10"}}
    {{field id="esMenor59Anos" type="expr" value="=calc.fromNowYears(fechaNacimiento)<59"}}
    {{field id="clave2" type="expr" value="=@clave2||'PN'+calc.zeroFill(_created.folio||_parentDoc._created.folio||moment().unix(),7)"}} 
    {{field id="tieneOtrasAlertasAlimentarias" type="expr" value="=calc.in('otras', @alertaAlimentaria)"}} 
    {{field id="esConsultaExterna" type="expr" value="=tipoAtencion=='consultaExterna'"}}
    {{field id="esUrgenciasHospitalizacion" type="expr" value="=tipoAtencion!='consultaExterna'"}}
    {{field id="desconoceEdadSeul" type="expr" value="=tipoAtencion!='consultaExterna'&&desconoceFechaNacimiento=='si'"}}
    {{field id="esMigrante" type="expr" value="=migrante=='internacional'||migrante=='retornado'||migrante=='nacional'"}}
    {{field id="bloquearProcedencia" type="expr" value="=migrante=='nacional'||migrante=='retornado'"}}
    {{#field id="tipoAtencion"}}
      {{#onChange clearFields="desconoceFechaNacimiento,edadAproximada,fechaNacimientoDesconocida,fechaNacimiento,genero,afromexicano,afromexicanoUrgenciasHospitalizacion"}}
        {{set esConsultaExterna="=tipoAtencion=='consultaExterna'"}}
        {{set esUrgenciasHospitalizacion="=tipoAtencion!='consultaExterna'"}}
      {{/onChange}}
    {{/field}}
    {{#field id="desconoceFechaNacimiento"}}
      {{onChange clearFields="edadAproximada,fechaNacimientoDesconocida,fechaNacimiento"}}
    {{/field}}
    {{#field id="edadAproximada"}}
      {{#onChange clearFields="fechaNacimientoDesconocida,fechaNacimiento"}}
        {{set condition="=desconoceEdadSeul" fechaNacimientoDesconocida="='9999-09-09'"}}
        {{set fechaNacimiento="=(calc.year()-edadAproximada)+'-09-09'"}}
      {{/onChange}}
    {{/field}}
    {{#field id="genero"}}
      {{#editor}}
        {{param partOf="=esConsultaExterna?'sis':'seul'"}}
      {{/editor}}
    {{/field}}
    {{#field id="paisNacimiento"}}
      {{#onChange condition="=paisNacimiento!='MX'" clearFields="entidadNacimiento"}}
        {{set entidadNacimiento="='NA'"}}
      {{/onChange}}
    {{/field}}
    {{#field id="cama"}}
      {{#editor}}
        {{param tipoUbicacion="='cama'"}}
      {{/editor}}
    {{/field}}
    {{#field id="migrante"}}
      {{#onChange}}
        {{set paisProcedencia="MX"}}
      {{/onChange}}
    {{/field}}
    [.#if esHIS.]
    {{validator type="expr" validIf="=calc.curp3Ok(clave)" message="CURP Incorrecto"}}
    {{validator type="expr" validIf="=calc.setTimeStr(@fechaNacimiento,@horaNacimiento)<moment().format()" message="Fecha Nacimiento Incorrecta"}}
    [./if.]
    {{validator type="expr" notValidIf="=calc.in(genero,['noEspecificado','seIgnora'])&&tipoAtencion==='consultaExterna'" message="Sexo Biológico Inválido para Consulta Externa"}}
    {{validator type="expr" notValidIf="=desconoceFechaNacimiento==='si'&&clave!==fn('CURP_GENERICO')" message="Colocar CURP Genérico si Desconoce Fecha Nacimiento"}}
    {{validator type="expr" condition="=esConsultaExterna" notValidIf="=desconoceFechaNacimiento==='si'&&moment().diff(fechaNacimiento,'years')<1&&fechaNacimiento.substr(8,2)!='15'" message="Fecha Nacimiento Inválida (Desconoce Fecha)<br/>Formato Válido: [año estimado]-[mes estimado]-15"}}
    {{validator type="expr" condition="=esConsultaExterna" notValidIf="=@desconoceFechaNacimiento==='si'&&moment().diff(fechaNacimiento,'years')>=1&&(fechaNacimiento.substr(5,2)!='06'||fechaNacimiento.substr(8,2)!='30')" message="Fecha Nacimiento Inválida (Desconoce Fecha)</br>Formato Válido: [año estimado]-06-30"}}
    {{validator type="expr" validIf="=moment().diff(fechaNacimiento,'years')<120" message="Paciente Mayor a 120 años"}}
    {{validator type="expr" validIf="=fn('entidadNacimientoCorrecta', paisNacimiento, entidadNacimiento)" message="Entidad Nacimiento Incorrecta"}}
    {{validator type="expr" notValidIf="=esMenor3Anos&&!calc.isEmpty(@ocupacion)&&@ocupacion!='9990'" message="Ocupación Inválida"}}
    {{validator type="expr" validIf="=desconoceFechaNacimiento=='si'||fn('escolaridadCorrecta', calc.fromNowYears(fechaNacimiento)||2, escolaridad)" message="Escolaridad Incorrecta"}}
    {{validator type="expr" notValidIf="=!calc.in(sabeLeerEscribir,['si','no','seIgnora'])&&calc.fromNowYears(fechaNacimiento)>=3" message="Falta Indicar Sabe Leer y Escribir"}}
    {{validator type="expr" notValidIf="=esMenor3Anos&&sabeLeerEscribir!='no'" message="Sabe Leer y Escribir Incorrecto (Paciente menor 3 años)"}}
    {{validator type="expr" notValidIf="=sabeLeerEscribir=='no'&&!calc.in(escolaridad,['ninguna','noAplica','noEspecificado','preescolarCompleta','preescolarIncompleta','seIgnora'])" message="Sabe Leer y Escribir Incorrecto"}}
    {{validator type="expr" notValidIf="=esMenor5Anos&&afromexicano!=calc.pluckRef(familiarResponsable,'base.afromexicano')[0]" message="Se Considera Afromexicano Inválido"}}
    {{validator type="expr" notValidIf="=migrante=='internacional'&&paisProcedencia=='MX'" message="País Procedencia Inválido"}}
    {{validator type="expr" notValidIf="=clave===user.serviceProvider.clave&&clave!==fn('CURP_GENERICO')" message="No puede tener el mismo CURP que el Usuario"}}
    {{validator type="expr" validIf="=fn('validaCaracter17Curp',clave,fechaNacimiento)||clave===fn('CURP_GENERICO')" message="CURP Inválido (Caracter 17)"}}
    {{validator type="expr" validIf="=fn('validaCaracter18Curp',clave)||clave===fn('CURP_GENERICO')" message="CURP Inválido (Caracter 18)"}}
    {{validator type="expr" notValidIf="=desconoceFechaNacimiento=='no'&&esMenor10Anos&&estadoCivil!=='noAplica'" message="Estado Civil Inválido (Paciente menor 10 años)"}}
    {{validator type="expr" notValidIf="=desconoceFechaNacimiento=='no'&&!esMenor10Anos&&estadoCivil==='noAplica'" message="Estado Civil Inválido (Paciente mayor 10 años)"}}
    {{validator type="expr" notValidIf="=esUrgenciasHospitalizacion&&calc.in(grupoEtnico.base.indigena,['noResponde','noSabe'])" message="Se Considera Indígena Inválido (SI/NO)"}}
    {{!-- {{validator type="expr" validIf="=(calc.curp(nombres, apellidoPaterno, apellidoMaterno, generoCurp, entidadNacimiento=='NA'?'NE':entidadNacimiento, moment(fechaNacimiento).format('YYYY-MM-DD'),16,false)===clave.substr(0,16)||calc.curp(nombres, apellidoPaterno, apellidoMaterno, generoCurp, entidadNacimiento=='NA'?'NE':entidadNacimiento, moment(fechaNacimiento).format('YYYY-MM-DD'),16,true)===clave.substr(0,16)||clave===fn('CURP_GENERICO'))&&clave.length===18" message="CURP Incorrecto"}} --}}
    {{validator type="expr" validIf="=clave.length==18&&(clave==fn('CURP_GENERICO')||((clave.substr(0,16)!=fn('CURP_GENERICO').substr(0,16))&&(calc.curp(nombres,apellidoPaterno,apellidoMaterno,generoCurp,entidadNacimiento=='NA'?'NE':entidadNacimiento,moment(fechaNacimiento).format('YYYY-MM-DD'),16,false)==clave.substr(0,16)||calc.curp(nombres,apellidoPaterno,apellidoMaterno,generoCurp,entidadNacimiento=='NA'?'NE':entidadNacimiento,moment(fechaNacimiento).format('YYYY-MM-DD'),16,true)==clave.substr(0,16))))" message="CURP Incorrecto"}}
  {{/section}}
{{/define}}

{{#markup}}
  {{#template id="lista"}}
    <div>
      {{base.nombreCompleto}}</br>
      <span style="font-size:12px;">{{base.clave}} {{base._genero}}</span>
      {{#if _readOnly}}
      <span class="read-only" style="font-size:12px;"><strong>&nbsp;&nbsp;Solo Lectura&nbsp;&nbsp;</strong></span>
      {{/if}}
      <span style="font-size:12px;float:right;">{{date base.fechaNacimiento "DD/MMM/YYYY"}}</span>
    </div>
  {{/template}}
{{/markup}}