{{#define id="investigacion"}}
  {{action id="eliminar" hide="true"}}
  {{#section id="base"}}
    {{field id="suspender" type="expr" value="=@estatus==='suspender'"}}
  {{/section}}
  {{#view id="lista"}}
    {{#find}}
      {{include field="base.estatus"}}
      {{sort field="_name" direction="asc"}}
    {{/find}}
  {{/view}}
  {{#grid id="adjuntos" section="adjuntos" allowRemove="true" allowSort="true" sortBy="orden, fecha"}}
    {{column field="nombre" width="350"}}
    {{column field="tipo" width="200"}}
    {{column field="fecha" width="100" readOnly="true"}}
    {{column field="ext" width="100" readOnly="true"}}
    {{column field="tamano" width="100" readOnly="true"}}
    {{column field="orden" width="60"}}
  {{/grid}}
{{/define}}
{{#markup}}
  {{#template id="lista"}}
    <div>
      {{_name}}
      <span style="font-size:12px;float:right;">{{base._estatus}}</span>
    </div>
  {{/template}}
{{/markup}}