{{#define id="rhCarreraGenerica"}}
  {{#view id="lista" name="Lista"}}
    {{#find}}
      {{include field="_name"}}
      {{include field="base._areaGeneral"}}
      {{search field="_name"}}
      {{sort field="base._areaGeneral" direction="asc"}}
      {{sort field="base.orden" direction="asc"}}
      {{sort field="_name" direction="asc"}}
      {{filter condition="=areaGeneral" field="base.areaGeneral" in="areaGeneral"}}
    {{/find}}
  {{/view}}
{{/define}}


{{#markup}}
  {{#template id="lista"}}
    <div>
      {{_name}}</br>
      <span style="font-size:12px;">{{base._areaGeneral}}</span>
    </div>
  {{/template}}
{{/markup}}