{{#define id="notaPorEntregarDirectoLote"}}
  {{param attribute1="=_created.service"}}
  {{param startOnOpen="aplicacion"}}
  {{param removeIfEmptySection="aplicacion"}}
  {{param removeIfEmptyField="continuar"}}

  {{#section id="base"}}
    {{field id="esMaterial" type="expr" value="=categoria=='Material'"}}
    {{field id="_solicitud" type="expr" value="=calc.first(aplicacion).solicitud"}}
    {{field id="_solicitante" type="expr" value="=calc.first(aplicacion)._solicitante"}}
    {{field id="_persona" type="expr" value="=calc.first(aplicacion)._persona"}}
    {{field id="_central" type="expr" value="=calc.first(aplicacion).central"}}
    {{field id="_cama" type="expr" value="=calc.first(aplicacion).cama"}}
  {{/section}}

  {{#section id="aplicacion"}}
    {{#field id="loteEspecifico"}}
      {{#editor type="select" source="mov" view="loteEspecifico" alwaysLoad="true" sendSearchValue="true" value="lote" display="loteVencimiento"}}
        {{param codigo="=codigo"}}
      {{/editor}}
    {{/field}}
  {{/section}}

  {{action id="etiqueta" type="print-template" label="Imprimir Etiqueta" color="grey" visibleMode="close" forceReadOnly="true" template="etiqueta" hide="=true"}}
  {{action id="preliminar" subAction="imprimir"}}
  
  {{#grid id="aplicacion" section="aplicacion" keyField="continuar" disableEnter="true" applyTo="continuar" applyContinue="true" applyContinueValidate="loteEspecifico"}}
    {{column field="fecha" type="date" format="DD/MMM/YYYY" width="100" readOnly="true"}}
    {{column field="solicitud" type="text" width="180" readOnly="true"}}
    {{column field="codigo" label="Código" hiddenColumn="true" readOnly="true"}}
    {{column field="_name" width="300" readOnly="true"}}
    {{column field="_persona" width="150" readOnly="true"}}
    {{column field="central" width="150" readOnly="true"}}
    {{column field="cama" width="70" readOnly="true"}}
    {{column field="solicitado" label="Solicitado" type="numeric" format="#," width="70" readOnly="true"}}
    {{column field="entregaParcial" label="Entregado" type="numeric" format="#," width="70" readOnly="true"}}
    {{column field="neto" label="Neto" type="numeric" format="#," width="40" readOnly="true"}}
    {{column field="continuar" width="70"}}
    {{column field="loteEspecifico" label="Lote Especifico" width="150"}}
  {{/grid}}
{{/define}}

{{#markup}}
  {{#template id="etiqueta"}}
  <div class="tag-34mm">
    <br><strong>{{persona.nombreCompleto}}</strong>
    <br>{{persona.clave}}
    <br>F. Nacimiento: {{date persona.fechaNacimiento "DD/MMM/YYYY"}}
    <br>F. Emisión: {{date _created.date "DD/MMM/YYYY h:mma"}}
    <br>Cama: {{aplicacion.0.base._cama}}
  </div>
  <br>
  <div class="tag-34mm">
    <br><strong>{{persona.nombreCompleto}}</strong>
    <br>{{persona.clave}}
    <br>F. Nacimiento: {{date persona.fechaNacimiento "DD/MMM/YYYY"}}
    <br>F. Emisión: {{date _created.date "DD/MMM/YYYY h:mma"}}
    <br>Cama: {{aplicacion.0.base._cama}}
  </div>
  {{/template}}
{{/markup}}