{{#define id="establecimiento"}}
  {{#view id="lista"}}
    {{#find}}
      {{include field="base.orden"}}
      {{sort field="base.orden" direction="asc"}}
      {{sort field="_name" direction="asc"}}
      {{search field="_name"}}
      {{search field="base.descripcion"}}
    {{/find}}
  {{/view}}
  {{#section id="base"}}
    {{#field id="establecimiento"}}
      {{onChange clearFields="almacenGeneral,almacenFarmacia,almacenFarmaciaGratuita,almacenMateriales,almacenCeyeEsterilizado,almacenCeyeEsterilizadoQuirofanos,almacenCeyeSucio"}}
    {{/field}}
    {{#field id="almacenGeneral"}}
      {{#editor}}
        {{param establecimiento="=_id"}}
      {{/editor}}
    {{/field}}
    {{#field id="almacenFarmacia"}}
      {{#editor}}
        {{param establecimiento="=_id"}}
      {{/editor}}
    {{/field}}
    {{#field id="almacenFarmaciaGratuita"}}
      {{#editor}}
        {{param establecimiento="=_id"}}
      {{/editor}}
    {{/field}}
    {{#field id="almacenMateriales"}}
      {{#editor}}
        {{param establecimiento="=_id"}}
      {{/editor}}
    {{/field}}
    {{#field id="almacenCeyeEsterilizado"}}
      {{#editor}}
        {{param establecimiento="=_id"}}
      {{/editor}}
    {{/field}}
    {{#field id="almacenCeyeEsterilizadoQuirofanos"}}
      {{#editor}}
        {{param establecimiento="=_id"}}
      {{/editor}}
    {{/field}}
    {{#field id="almacenCeyeSucio"}}
      {{#editor}}
        {{param establecimiento="=_id"}}
      {{/editor}}
    {{/field}}
    {{#field id="clues"}}
      {{#onChange clearFields="cluesSubAbreviacion,cluesTipoAbreviacion,cluesServicioAmigable,cluesTieneEspirometro,cluesTipoUnidad,cluesIdEntidad"}}
        {{set cluesTieneSsa="=@clues.search('SSA')>0"}}
        {{set cluesSubAbreviacion="=@sub_abreviacion"}}
        {{set cluesTipoAbreviacion="=@tip_abreviacion"}}
        {{set cluesServicioAmigable="=@amigable"}}
        {{set cluesTieneEspirometro="=@espirometro"}}
        {{set cluesTipoUnidad="@tipo_unidad"}}
        {{set cluesIdEntidad="@id_entidad_federativa"}}
      {{/onChange}}
    {{/field}}
  {{/section}}
  {{#grid id="nivelesAlerta" section="nivelesAlerta" allowInsert="true" allowRemove="true"}}
    {{column field="servicio" width="900"}}
    {{column field="nivelAlerta" width="120"}}
  {{/grid}}
{{/define}} 

{{#markup}}
  {{#template id="lista"}}
    <div>
      {{_name}}<br>
      {{!-- <span style="font-size:12px;">{{base._servicio}}</span> --}}
    </div>
  {{/template}}
{{/markup}}